/******************************************************************/
/*                          COMMANDS STYLES                       */
/******************************************************************/

/********************** COMMAND "RESIZE" ****************************/
.finder-dialog-resize  { margin-top:.3em; }
.finder-resize-type    { float:left; margin-bottom: .4em; }
.finder-resize-control { padding-top:3em; }
.finder-resize-control input[type=text] { border:1px solid #aaa; text-align: right; }
.finder-resize-preview {
	width:400px;
	height:400px;
	padding:10px;
	background:#fff;
	border:1px solid #aaa;
	float:right;
	position:relative;
	overflow:auto;
/*	z-index:100;*/
}

.finder-resize-handle { position:relative;}

.finder-resize-handle-hline,
.finder-resize-handle-vline {
	position:absolute;
	background-image:url("../img/crop.gif");
}

.finder-resize-handle-hline {
	width:100%;
	height:1px !important;
	background-repeat:repeat-x;
}
.finder-resize-handle-vline {
	width:1px !important;
	height:100%;
	background-repeat:repeat-y;
}

.finder-resize-handle-hline-top    { top:0; left:0; }
.finder-resize-handle-hline-bottom { bottom:0; left:0; }
.finder-resize-handle-vline-left   { top:0; left:0; }
.finder-resize-handle-vline-right  { top:0; right:0; }

.finder-resize-handle-point {
	position:absolute;
	width:8px;
	height:8px;
	border:1px solid #777;
	background:transparent;
}

.finder-resize-handle-point-n  {
	top:0;
	left:50%;
	margin-top:-5px;
	margin-left:-5px;
}
.finder-resize-handle-point-ne {
	top:0;
	right:0;
	margin-top:-5px;
	margin-right:-5px;
}
.finder-resize-handle-point-e  {
	top:50%;
	right:0;
	margin-top:-5px;
	margin-right:-5px;
}
.finder-resize-handle-point-se  {
	bottom:0;
	right:0;
	margin-bottom:-5px;
	margin-right:-5px;
}
.finder-resize-handle-point-s  {
	bottom:0;
	left:50%;
	margin-bottom:-5px;
	margin-left:-5px;
}
.finder-resize-handle-point-sw {
	bottom:0;
	left:0;
	margin-bottom:-5px;
	margin-left:-5px;
}
.finder-resize-handle-point-w  {
	top:50%;
	left:0;
	margin-top:-5px;
	margin-left:-5px;
}
.finder-resize-handle-point-nw {
	top:0;
	left:0;
	margin-top:-5px;
	margin-left:-5px;
}

.finder-resize-spinner {
	position:absolute;
	width:200px;
	height:30px;
	top:50%;
	margin-top:-25px;
	left:50%;
	margin-left:-100px;
	text-align:center;
	background:url(../img/progress.gif) center bottom repeat-x;
}

.finder-resize-row { margin-bottom:7px; position:relative;}

.finder-resize-label { float:left; width:80px; padding-top: 3px; }

.finder-resize-reset {
	width:16px;
	height:16px;
/*	border:1px solid #111;*/
	position:absolute;
	margin-top:-8px;
}

.finder-dialog .finder-dialog-resize .ui-resizable-e { height:100%; width:10px; }
.finder-dialog .finder-dialog-resize .ui-resizable-s { width:100%; height:10px; }
.finder-dialog .finder-dialog-resize .ui-resizable-se {
	background:transparent;
	bottom:0;
	right:0;
	margin-right:-7px;
	margin-bottom:-7px;
}

.finder-dialog-resize  .ui-icon-grip-solid-vertical {
	position:absolute;
	top:50%;
	right:0;
	margin-top:-8px;
	margin-right:-11px;
}
.finder-dialog-resize .ui-icon-grip-solid-horizontal {
	position:absolute;
	left:50%;
	bottom:0;
	margin-left:-8px;
	margin-bottom:-11px;;
}

.finder-resize-row .finder-buttonset { float:right; }

.finder-resize-rotate-slider {
	float: left;
	width: 195px;
	margin: 7px 7px 0;
}

/********************** COMMAND "EDIT" ****************************/
/* edit text file textarea */
.finder-file-edit {
	width:99%;
	height:99%;
	margin:0;
	padding:2px;
	border:1px solid #ccc;
}


/********************** COMMAND "HELP" ****************************/
/* help dialog */
.finder-help { margin-bottom:.5em; }

/* fix tabs */
.finder-help .ui-tabs-panel { padding:.5em; }
.finder-dialog .ui-tabs .ui-tabs-nav li a { padding:.2em 1em;}

.finder-help-shortcuts {
	height:300px;
	padding:1em;
	margin:.5em 0;
	overflow:auto;
}
.finder-help-shortcut { white-space:nowrap; clear:both;}

.finder-help-shortcut-pattern { float:left; width:160px;}

.finder-help h3 { font-size:1.5em; margin:.2em 0 .3em 0; }

.finder-help-separator { clear:both; padding:.5em;  }

.finder-help-link { padding:2px; }

.finder-help .ui-priority-secondary { font-size:.9em;}

.finder-help .ui-priority-primary { margin-bottom:7px;}

.finder-help-team {
	clear: both;
	text-align:right;
	border-bottom:1px solid #ccc;
	margin:.5em 0;
	font-size:.9em;
}

.finder-help-team div { float:left; }
.finder-help-license { font-size:.9em;}

.finder-help-disabled {
	font-weight:bold;
	text-align:center;
	margin:90px 0;
}

.finder-help .finder-dont-panic {
	display:block;
	border:1px solid transparent;
	width:200px;
	height:200px;
	margin:30px auto;
	text-decoration:none;
	text-align:center;
	position:relative;
	background:#d90004;
	-moz-box-shadow: 5px 5px 9px #111;
	-webkit-box-shadow:  5px 5px 9px #111;
	box-shadow:  5px 5px 9px #111;
	background: -moz-radial-gradient(80px 80px, circle farthest-corner,  #d90004 35%, #960004 100%);
	background: -webkit-gradient(radial, 80 80, 60, 80 80, 120, from(#d90004), to(#960004));
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
	outline:none;
}

.finder-help .finder-dont-panic span {
	font-size:3em;
	font-weight:bold;
	text-align:center;
	color:#fff;
	position:absolute;
	left:0;
	top:45px;
}



