/*********************************************/
/*            COMMON ELFINDER STUFFS         */
/*********************************************/

/* common container */
.finder { padding:0; position:relative; display:block; }

/* right to left enviroment */
.finder-rtl { text-align:right; direction:rtl; }

/* nav and cwd container */
.finder-workzone {
	padding: 0;
	position:relative;
	overflow:hidden;
}

/* dir/file permissions and symlink markers */
.finder-perms,
.finder-symlink {
	position:absolute;
	width:16px;
	height:16px;
	background-image:url(../img/toolbar.png);
	background-repeat:no-repeat;
	background-position:0 -528px;
}

.finder-symlink { }

/* noaccess */
.finder-na .finder-perms { background-position:0 -96px; }

/* read only */
.finder-ro .finder-perms { background-position:0 -64px;}

/* write only */
.finder-wo .finder-perms { background-position:0 -80px;}

/* drag helper */
.finder-drag-helper {
	width:60px;
	height:50px;
	padding:0 0 0 25px;
	z-index:100000;
}

/* drag helper "plus" icon */
.finder-drag-helper-icon-plus {
	position:absolute;
	width:16px;
	height:16px;
	left:43px;
	top:55px;
	background:url('../img/toolbar.png') 0 -544px no-repeat;
	display:none;
}

/* show "plus" icon when ctrl/shift pressed */
.finder-drag-helper-plus .finder-drag-helper-icon-plus { display:block; }

/* files num in drag helper */
.finder-drag-num {
	position:absolute;
	top:0;
	left:0;
	width:16px;
	height:14px;
	text-align:center;
	padding-top:2px;

	font-weight:bold;
	color:#fff;
	background-color:red;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

/* icon in drag helper */
.finder-drag-helper .finder-cwd-icon { margin:0 0 0 -24px; float:left; }

/* transparent overlay >_< */
.finder-overlay { opacity: 0; filter:Alpha(Opacity=0); }

/* panels under/below cwd (for search field etc) */
.finder .finder-panel {
	position:relative;
	background-image:none;
	padding:7px 12px;
}





