/******************************************************************/
/*                     CURRENT DIRECTORY STYLES                   */
/******************************************************************/
/* cwd container to avoid selectable on scrollbar */
.finder-cwd-wrapper {
	overflow: auto;
	position:relative;
	padding:2px;
	margin:0;
}

.finder-cwd-wrapper-list { padding:0; }

/* container */
.finder-cwd {
	position:relative;
	cursor:default;
	padding:0;
	margin:0;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

/* container active on dropenter */
.finder .finder-cwd-wrapper.finder-droppable-active {
	padding:0;
	border:2px solid #8cafed;
}


/************************** ICONS VIEW ********************************/

/* file container */
.finder-cwd-view-icons .finder-cwd-file {
	width:120px;
	height:80px;
	padding-bottom:2px;
	cursor:default;
	overflow:hidden;
/*	position:relative;*/
}

/* ltr/rtl enviroment */
.finder-ltr .finder-cwd-view-icons .finder-cwd-file { float:left;  margin:0 3px 12px 0; }
.finder-rtl .finder-cwd-view-icons .finder-cwd-file { float:right; margin:0 0 5px 3px; }

/* remove ui hover class border */
.finder-cwd-view-icons .finder-cwd-file .ui-state-hover { border:0 solid; }

/* icon wrapper to create selected highlight around icon */
.finder-cwd-view-icons .finder-cwd-file-wrapper {
	width:52px;
	height:52px;
	margin:1px auto 1px auto;
	padding:2px;
	position:relative;
}

/* file name place */
.finder-cwd-view-icons .finder-cwd-filename {
	text-align:center;
	white-space:pre;
	overflow:hidden;
	text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
	margin:3px 1px 0 1px;
	padding:1px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

/* permissions/symlink markers */
.finder-cwd-view-icons .finder-perms { bottom:4px; right:2px; }
.finder-cwd-view-icons .finder-symlink { bottom:6px; left:0px; }

/* icon/thumbnail */
.finder-cwd-icon {
	display:block;
	width:48px;
	height:48px;
	margin:0 auto;
	background: url('../img/icons-big.png') 0 0 no-repeat;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
}

/* "opened folder" icon on dragover */
.finder-cwd .finder-droppable-active .finder-cwd-icon { background-position: 0 -100px; }

/* mimetypes icons */
.finder-cwd-icon-directory         { background-position:0 -50px; }
.finder-cwd-icon-application       { background-position:0 -150px; }
.finder-cwd-icon-x-empty,
.finder-cwd-icon-text              { background-position:0  -200px; }
.finder-cwd-icon-image,
.finder-cwd-icon-vnd-adobe-photoshop,
.finder-cwd-icon-postscript        { background-position:0 -250px;  }
.finder-cwd-icon-audio             { background-position:0 -300px; }
.finder-cwd-icon-video,
.finder-cwd-icon-flash-video       { background-position:0 -350px; }
.finder-cwd-icon-rtf,
.finder-cwd-icon-rtfd              { background-position: 0 -401px; }
.finder-cwd-icon-pdf               { background-position: 0 -450px; }
.finder-cwd-icon-ms-excel,
.finder-cwd-icon-msword,
.finder-cwd-icon-vnd-ms-excel,
.finder-cwd-icon-vnd-ms-excel-addin-macroEnabled-12,
.finder-cwd-icon-vnd-ms-excel-sheet-binary-macroEnabled-12,
.finder-cwd-icon-vnd-ms-excel-sheet-macroEnabled-12,
.finder-cwd-icon-vnd-ms-excel-template-macroEnabled-12,
.finder-cwd-icon-vnd-ms-office,
.finder-cwd-icon-vnd-ms-powerpoint,
.finder-cwd-icon-vnd-ms-powerpoint-addin-macroEnabled-12,
.finder-cwd-icon-vnd-ms-powerpoint-presentation-macroEnabled-12,
.finder-cwd-icon-vnd-ms-powerpoint-slide-macroEnabled-12,
.finder-cwd-icon-vnd-ms-powerpoint-slideshow-macroEnabled-12,
.finder-cwd-icon-vnd-ms-powerpoint-template-macroEnabled-12,
.finder-cwd-icon-vnd-ms-word,
.finder-cwd-icon-vnd-ms-word-document-macroEnabled-12,
.finder-cwd-icon-vnd-ms-word-template-macroEnabled-12,
.finder-cwd-icon-vnd-oasis-opendocument-chart,
.finder-cwd-icon-vnd-oasis-opendocument-database,
.finder-cwd-icon-vnd-oasis-opendocument-formula,
.finder-cwd-icon-vnd-oasis-opendocument-graphics,
.finder-cwd-icon-vnd-oasis-opendocument-graphics-template,
.finder-cwd-icon-vnd-oasis-opendocument-image,
.finder-cwd-icon-vnd-oasis-opendocument-presentation,
.finder-cwd-icon-vnd-oasis-opendocument-presentation-template,
.finder-cwd-icon-vnd-oasis-opendocument-spreadsheet,
.finder-cwd-icon-vnd-oasis-opendocument-spreadsheet-template,
.finder-cwd-icon-vnd-oasis-opendocument-text,
.finder-cwd-icon-vnd-oasis-opendocument-text-master,
.finder-cwd-icon-vnd-oasis-opendocument-text-template,
.finder-cwd-icon-vnd-oasis-opendocument-text-web,
.finder-cwd-icon-vnd-openofficeorg-extension,
.finder-cwd-icon-vnd-openxmlformats-officedocument-presentationml-presentation,
.finder-cwd-icon-vnd-openxmlformats-officedocument-presentationml-slide,
.finder-cwd-icon-vnd-openxmlformats-officedocument-presentationml-slideshow,
.finder-cwd-icon-vnd-openxmlformats-officedocument-presentationml-template,
.finder-cwd-icon-vnd-openxmlformats-officedocument-spreadsheetml-sheet,
.finder-cwd-icon-vnd-openxmlformats-officedocument-spreadsheetml-template,
.finder-cwd-icon-vnd-openxmlformats-officedocument-wordprocessingml-document,
.finder-cwd-icon-vnd-openxmlformats-officedocument-wordprocessingml-template { background-position: 0 -500px; }
.finder-cwd-icon-html              { background-position: 0 -550px; }
.finder-cwd-icon-css               { background-position: 0 -600px; }
.finder-cwd-icon-javascript,
.finder-cwd-icon-x-javascript      { background-position: 0 -650px; }
.finder-cwd-icon-x-perl            { background-position: 0 -700px; }
.finder-cwd-icon-x-python          { background-position: 0 -750px; }
.finder-cwd-icon-x-ruby            { background-position: 0 -800px; }
.finder-cwd-icon-x-sh,
.finder-cwd-icon-x-shellscript     { background-position: 0 -850px; }
.finder-cwd-icon-x-c,
.finder-cwd-icon-x-csrc,
.finder-cwd-icon-x-chdr,
.finder-cwd-icon-x-c--,
.finder-cwd-icon-x-c--src,
.finder-cwd-icon-x-c--hdr,
.finder-cwd-icon-x-java,
.finder-cwd-icon-x-java-source     { background-position: 0 -900px; }
.finder-cwd-icon-x-php             { background-position: 0 -950px; }
.finder-cwd-icon-xml               { background-position: 0 -1000px; }
.finder-cwd-icon-zip,
.finder-cwd-icon-x-zip,
.finder-cwd-icon-x-7z-compressed   { background-position: 0 -1050px; }
.finder-cwd-icon-x-gzip,
.finder-cwd-icon-x-tar             { background-position: 0 -1100px; }
.finder-cwd-icon-x-bzip,
.finder-cwd-icon-x-bzip2           { background-position: 0 -1150px; }
.finder-cwd-icon-x-rar,
.finder-cwd-icon-x-rar-compressed  { background-position: 0 -1200px; }
.finder-cwd-icon-x-shockwave-flash { background-position: 0 -1250px; }
.finder-cwd-icon-group             { background-position:0 -1300px;}

/* textfield inside icon */
.finder-cwd input { width:100%; border:0px solid; margin:0; padding:0; }
.finder-cwd-view-icons input {text-align:center; }

.finder-cwd-view-icons { text-align:center; }


/************************************  LIST VIEW ************************************/

/*.finder-cwd-view-list { padding:0 0 4px 0; }*/

.finder-cwd table { width:100%; border-collapse:collapse; border:0 solid; margin:0 0 10px 0; }
.finder .finder-cwd table thead tr { border-left:0 solid; border-top:0 solid; border-right:0 solid; }

.finder .finder-cwd table td {
	padding:3px 12px;
	white-space:pre;
	overflow:hidden;
	text-align:right;
	cursor:default;
	border:0 solid;

}

.finder-ltr .finder-cwd table td { text-align:right; }
.finder-ltr .finder-cwd table td:first-child { text-align:left; }
.finder-rtl .finder-cwd table td { text-align:left; }
.finder-rtl .finder-cwd table td:first-child { text-align:right; }

.finder-odd-row { background:#eee; }

/* filename container */
.finder-cwd-view-list .finder-cwd-file-wrapper { width:97%; position:relative; }
/* filename container in ltr/rtl enviroment */
.finder-ltr .finder-cwd-view-list .finder-cwd-file-wrapper { padding-left:23px;  }
.finder-rtl .finder-cwd-view-list .finder-cwd-file-wrapper { padding-right:23px; }

/* premissions/symlink marker */
.finder-cwd-view-list .finder-perms,
.finder-cwd-view-list .finder-symlink { top:50%; margin-top:-6px; }
/* markers in ltr/rtl enviroment */
.finder-ltr .finder-cwd-view-list .finder-perms   { left:7px;  }
.finder-ltr .finder-cwd-view-list .finder-symlink { left:-7px; }

/* file icon */
.finder-cwd-view-list td .finder-cwd-icon {
	width:16px;
	height:16px;
	position:absolute;
	top:50%;
	margin-top:-8px;
	background-image:url(../img/icons-small.png);
}
/* icon in ltr/rtl enviroment */
.finder-ltr .finder-cwd-view-list .finder-cwd-icon { left:0;  }
.finder-rtl .finder-cwd-view-list .finder-cwd-icon { right:0; }


