/*********************************************/
/*                DIALOGS STYLES             */
/*********************************************/

/* common dialogs class */
.std42-dialog {	padding:0; }

/* titlebar */
.std42-dialog .ui-dialog-titlebar {
	border-left:0 solid transparent;
	border-top:0 solid transparent;
	border-right:0 solid transparent;
	-moz-border-radius-bottomleft: 0;
	-webkit-border-bottom-left-radius: 0;
	border-bottom-left-radius: 0;
	-moz-border-radius-bottomright: 0;
	-webkit-border-bottom-right-radius: 0;
	border-bottom-right-radius: 0;
	font-weight:normal;
	padding:.2em 1em;
}

.std42-dialog .ui-dialog-titlebar-close,
.std42-dialog .ui-dialog-titlebar-close:hover { padding:1px; }

.finder-rtl .finder-dialog .ui-dialog-titlebar { text-align:right; }
.finder-rtl .finder-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close { right:auto; left:.3em; }

/* content */
.std42-dialog .ui-dialog-content {
	padding:.3em .5em;
}

/* buttons */
.std42-dialog .ui-dialog-buttonpane {
	border:0 solid;
	margin:0;
	padding:.5em .7em;
}

.std42-dialog .ui-dialog-buttonpane button { margin:0 0 0 .4em;	padding:0; outline:0px solid; }
.std42-dialog .ui-dialog-buttonpane button span { padding:2px 9px; }

.finder-dialog .ui-resizable-e,
.finder-dialog .ui-resizable-s { width:0; height:0;}

.std42-dialog .ui-button input { cursor: pointer;}

/* error/notify/confirm dialogs icon */
.finder-dialog-icon {
	position:absolute;
	width:32px;
	height:32px;
	left:12px;
	top:7px;
	background:url("../img/dialogs.png") 0 0 no-repeat;
}

.finder-rtl .finder-dialog-icon { left:auto; right:12px;}



/*********************** ERROR DIALOG **************************/

.finder-dialog-error .ui-dialog-content,
.finder-dialog-confirm .ui-dialog-content { padding-left: 56px; min-height:35px; }

.finder-rtl .finder-dialog-error .ui-dialog-content,
.finder-rtl .finder-dialog-confirm .ui-dialog-content { padding-left:0; padding-right: 56px; }

/*********************** NOTIFY DIALOG **************************/

.finder-dialog-notify .ui-dialog-titlebar-close { display:none; }
.finder-dialog-notify .ui-dialog-content { padding:0; }

/* one notification container */
.finder-notify {
	border-bottom:1px solid #ccc;
	position:relative;
	padding:.5em;

	text-align:center;
	overflow:hidden;
}

.finder-ltr .finder-notify { padding-left:30px; }
.finder-rtl .finder-notify { padding-right:30px; }

.finder-notify:last-child { border:0 solid; }

/* progressbar */
.finder-notify-progressbar {
	width:180px;
	height:8px;
	border:1px solid #aaa;
	background:#f5f5f5;
	margin:5px auto;
	overflow:hidden;
}

.finder-notify-progress {
	width:100%;
	height:8px;
	background:url(../img/progress.gif) center center repeat-x;
}

.finder-notify-progressbar, .finder-notify-progress {
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

/* icons */
.finder-dialog-icon-open,
.finder-dialog-icon-file        { background-position: 0 -225px; }
.finder-dialog-icon-reload      { background-position: 0 -225px; }
.finder-dialog-icon-mkdir       { background-position: 0 -64px; }
.finder-dialog-icon-mkfile      { background-position: 0 -96px; }
.finder-dialog-icon-copy,
.finder-dialog-icon-prepare,
.finder-dialog-icon-move        { background-position: 0 -128px;}
.finder-dialog-icon-upload      { background-position: 0 -160px; }
.finder-dialog-icon-rm          { background-position: 0 -192px; }
.finder-dialog-icon-download    { background-position: 0 -260px; }
.finder-dialog-icon-save        { background-position: 0 -295px; }
.finder-dialog-icon-rename      { background-position: 0 -330px; }
.finder-dialog-icon-archive,
.finder-dialog-icon-extract     { background-position: 0 -365px; }
.finder-dialog-icon-search      { background-position: 0 -402px; }

/*********************** CONFIRM DIALOG **************************/

.finder-dialog-confirm-applyall {	padding-top:3px; }

.finder-dialog-confirm .finder-dialog-icon { background-position:0 -32px; }



/*********************** FILE INFO DIALOG **************************/


.finder-info-title .finder-cwd-icon {
	float:left;
	width:48px;
	height:48px;
	margin-right:1em;
}

.finder-info-title strong { display:block; padding:.3em 0 .5em 0; }

.finder-info-tb {
	min-width:200px;
	border:0 solid;
	margin:1em .2em 1em .2em;
}

.finder-info-tb td { white-space:nowrap; padding:2px; }

.finder-info-tb tr td:first-child { text-align:right;  }

.finder-info-tb span { float:left;}
.finder-info-tb a { outline: none; text-decoration:underline; }
.finder-info-tb a:hover { text-decoration:none; }
.finder-info-spinner {
	width:14px;
	height:14px;
	float:left;
	background: url("../img/spinner-mini.gif") center center no-repeat;
	margin:0 5px;
}

.finder-netmount-tb { margin:0 auto; }
.finder-netmount-tb input { border:1px solid #ccc; }
/*********************** UPLOAD DIALOG **************************/

.finder-upload-dropbox {
	text-align:center;
	padding:2em 0;
	border:3px dashed #aaa;
}

.finder-upload-dropbox.ui-state-hover {
	background:#dfdfdf;
	border:3px dashed #555;
}

.finder-upload-dialog-or {
	margin:.3em 0;
	text-align:center;
}

.finder-upload-dialog-wrapper { text-align:center; }

.finder-upload-dialog-wrapper .ui-button { position:relative;	overflow:hidden; }

.finder-upload-dialog-wrapper .ui-button form {
	position:absolute;
	right:0;
	top:0;
	opacity: 0; filter:Alpha(Opacity=0);
}

.finder-upload-dialog-wrapper .ui-button form input {
	padding:0 20px;
	font-size:3em;

}


/* dialog for Finder itself */
.dialogfinder .dialogfinder-drag {
	border-left:0 solid;
	border-top:0 solid;
	border-right:0 solid;
	font-weight:normal;
	padding:2px 12px;
	cursor:move;
	position:relative;
	text-align:left;
}

.finder-rtl .dialogfinder-drag { text-align:right;}

.dialogfinder-drag-close {
	position: absolute;
	top:50%;
	margin-top:-8px;
}

.finder-ltr .dialogfinder-drag-close { right:12px; }
.finder-rtl .dialogfinder-drag-close { left:12px; }


