/*********************************************/
/*              NAVIGATION PANEL             */
/*********************************************/

/* container */
.finder .finder-navbar {
	width:230px;
	padding:3px 5px;
	background-image:none;
	border-top:0 solid;
	border-bottom:0 solid;
	overflow:auto;
	display:none;
	position:relative;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
/*	border:1px solid #111;*/
}


/* ltr/rtl enviroment */
.finder-ltr .finder-navbar {
	float:left;
	border-left:0 solid;
	padding-right:13px;
	}
.finder-rtl .finder-navbar {
	float:right;
	border-right:0 solid;
	padding-left:13px;
	}

/* folders tree container */
.finder-tree {
	display:table;
	width:100%;
	margin: 0 0 .5em 0;
	}

/* one folder wrapper */
.finder-navbar-wrapper, .finder-place-wrapper { }

/* folder */
.finder-navbar-dir {
	position:relative;
	display:block;
	white-space:nowrap;
	padding:3px 12px;
	margin: 0;
	outline:0px solid;
	border:1px solid transparent;
	cursor:default;

}

/* ltr/rtl enviroment */
.finder-ltr .finder-navbar-dir { padding-left:35px; }
.finder-rtl .finder-navbar-dir { padding-right:35px; }

/* arrow before icon */
.finder-navbar-arrow {
	width:12px;
	height:14px;
	position:absolute;
	display:none;
	top:50%;
	margin-top:-8px;
	background-image:url("../img/arrows-normal.png");
	background-repeat:no-repeat;
/*	border:1px solid #111;*/
}

.ui-state-active .finder-navbar-arrow { background-image:url("../img/arrows-active.png"); }

/* collapsed/expanded arrow view */
.finder-navbar-collapsed .finder-navbar-arrow { display:block; }

/* arrow ltr/rtl enviroment */
.finder-ltr .finder-navbar-collapsed .finder-navbar-arrow { background-position: 0 4px; left:0; }
.finder-rtl .finder-navbar-collapsed .finder-navbar-arrow { background-position: 0 -10px; right:0;  }
.finder-ltr .finder-navbar-expanded  .finder-navbar-arrow,
.finder-rtl .finder-navbar-expanded  .finder-navbar-arrow { background-position:0 -21px; }


/* folder icon */
.finder-navbar-icon {
	width:16px;
	height:16px;
	position:absolute;
	top:50%;
	margin-top:-8px;
	background-image:url("../img/toolbar.png");
	background-repeat:no-repeat;
	background-position:0 -16px;
}

/* ltr/rtl enviroment */
.finder-ltr .finder-navbar-icon { left:14px; }
.finder-rtl .finder-navbar-icon { right:14px; }

/* root folder */
.finder-tree   .finder-navbar-root .finder-navbar-icon { background-position:0 0; }
.finder-places .finder-navbar-root .finder-navbar-icon { background-position:0 -48px; }

/* netmount */
.finder-tree   .finder-navbar-net .finder-navbar-icon { background-position: 0 -656px; }



/* icon in active/hove/dropactive state */
.ui-state-active           .finder-navbar-icon,
.finder-droppable-active .finder-navbar-icon,
.ui-state-hover            .finder-navbar-icon { background-position:0 -32px; }

/* subdirs tree */
.finder-navbar-subtree { display:none; }

/* ltr/rtl enviroment */
.finder-ltr .finder-navbar-subtree { margin-left:12px; }
.finder-rtl .finder-navbar-subtree { margin-right:12px; }


/* spinner */
.finder-navbar-spinner {
	width:14px;
	height:14px;
	position:absolute;
	display:block;
	top:50%;
	margin-top:-7px;
	background: url("../img/spinner-mini.gif") center center no-repeat;
}
/* spinner ltr/rtl enviroment */
.finder-ltr .finder-navbar-spinner { left:0;  margin-left:-2px; }
.finder-rtl .finder-navbar-spinner { right:0; margin-right:-2px; }

/* permissions marker */
.finder-navbar .finder-perms { top:50%; margin-top:-8px; }

/* permissions/symlink markers ltr/rtl enviroment */
.finder-ltr .finder-navbar .finder-perms   { left:  18px; }
.finder-rtl .finder-navbar .finder-perms   { right: 18px; }
.finder-ltr .finder-navbar .finder-symlink { left:  8px; }
.finder-rtl .finder-navbar .finder-symlink { right: 8px; }

/* resizable */
.finder-navbar .ui-resizable-handle {
	width:12px;
	background:transparent url('../img/resize.png') center center no-repeat;
	right:1px;
	}
.finder-rtl .finder-navbar .ui-resizable-handle {
	left:1px;
	}


.finder-nav-handle-icon {
	position:absolute;
	top:50%;
	margin:-8px 2px 0 2px;
	opacity: .5; filter:Alpha(Opacity=50);
}

.finder-places { border:1px solid transparent;}
.finder-places.finder-droppable-active {
	border:1px solid #8cafed;
}






