/******************************************************************/
/*                           STATUSBAR STYLES                     */
/******************************************************************/


/* statusbar container */
.finder-statusbar {
	text-align:center;
	font-weight:normal;
	padding:.2em .5em;

	border-right:0 solid transparent;
	border-bottom:0 solid transparent;
	border-left:0 solid transparent;
}

.finder-statusbar a { text-decoration:none; }



/* path in statusbar */
.finder-path {
	max-width:30%;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
}
.finder-ltr .finder-path { float:left;  }
.finder-rtl .finder-path { float:right; }

/* total/selected size in statusbar */
.finder-stat-size { white-space:nowrap; }
.finder-ltr .finder-stat-size { float:right; }
.finder-rtl .finder-stat-size { float:left; }

.finder-stat-selected { white-space:nowrap; overflow:hidden; }
