/*********************************************/
/*               TOOLBAR STYLES              */
/*********************************************/
/* toolbar container */
.finder-toolbar {
	padding:4px 0 3px 0;
	border-left:0 solid transparent;
	border-top:0 solid transparent;
	border-right:0 solid transparent;
}

/* container for button's group */
.finder-buttonset {
	margin: 1px 4px;
	float:left;
	background:transparent;
	padding:0;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

/*.finder-buttonset:first-child { margin:0; }*/

/* button */
.finder .finder-button {
	width:16px;
	height:16px;
	margin:0;
	padding:4px;
	float:left;
	overflow:hidden;
	position:relative;
	border:0 solid;
}

.finder .ui-icon-search { cursor:pointer;}

.finder-button:first-child {
	-moz-border-radius-topleft: 4px;
	-webkit-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.finder-button:last-child {
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

/* separator between buttons, required for berder between button with ui color */
.finder-toolbar-button-separator {
	float:left;
	padding:0;
	height:24px;
	border-top:0 solid;
	border-right:0 solid;
	border-bottom:0 solid;
	width:0;
}

/* change icon opacity^ not button */
.finder .finder-button.ui-state-disabled { opacity:1; filter:Alpha(Opacity=100);}
.finder .finder-button.ui-state-disabled .finder-button-icon { opacity:.4; filter:Alpha(Opacity=40);}

/* rtl enviroment */
.finder-rtl .finder-buttonset { float:right; }

/* icon inside button */
.finder-button-icon {
	width:16px;
	height:16px;
	display:block;
	background:url('../img/toolbar.png')  no-repeat;
}

/* buttons icons */
.finder-button-icon-home      { background-position: 0 0;  }
.finder-button-icon-back      { background-position: 0 -112px; }
.finder-button-icon-forward   { background-position: 0 -128px; }
.finder-button-icon-up        { background-position: 0 -144px; }
.finder-button-icon-reload    { background-position: 0 -160px; }
.finder-button-icon-open      { background-position: 0 -176px; }
.finder-button-icon-mkdir     { background-position: 0 -192px; }
.finder-button-icon-mkfile    { background-position: 0 -208px; }
.finder-button-icon-rm        { background-position: 0 -224px; }
.finder-button-icon-copy      { background-position: 0 -240px; }
.finder-button-icon-cut       { background-position: 0 -256px; }
.finder-button-icon-paste     { background-position: 0 -272px; }
.finder-button-icon-getfile   { background-position: 0 -288px; }
.finder-button-icon-duplicate { background-position: 0 -304px; }
.finder-button-icon-rename    { background-position: 0 -320px; }
.finder-button-icon-edit      { background-position: 0 -336px; }
.finder-button-icon-quicklook { background-position: 0 -352px; }
.finder-button-icon-upload    { background-position: 0 -368px; }
.finder-button-icon-download  { background-position: 0 -384px; }
.finder-button-icon-info      { background-position: 0 -400px; }
.finder-button-icon-extract   { background-position: 0 -416px; }
.finder-button-icon-archive   { background-position: 0 -432px; }
.finder-button-icon-view      { background-position: 0 -448px; }
.finder-button-icon-view-list { background-position: 0 -464px; }
.finder-button-icon-help      { background-position: 0 -480px; }
.finder-button-icon-resize    { background-position: 0 -512px; }
.finder-button-icon-search    { background-position: 0 -561px; }
.finder-button-icon-sort      { background-position: 0 -577px; }
.finder-button-icon-rotate-r  { background-position: 0 -625px; }
.finder-button-icon-rotate-l  { background-position: 0 -641px; }
.finder-button-icon-netmount  { background-position: 0 -656px; }

/* button with dropdown menu*/
.finder .finder-menubutton { overflow:visible; }



/* menu */
.finder-button-menu {
	position:absolute;
	left:0;
	top:25px;
	padding:3px 0;
}

/* menu item */
.finder-button-menu-item {
	white-space:nowrap;
	cursor:default;
	padding:5px 19px;
	position:relative;
}

/* fix hover ui class */
.finder-button-menu .ui-state-hover { border:0 solid; }

.finder-button-menu-item-separated { border-top:1px solid #ccc; }

.finder-button-menu-item .ui-icon {
	width:16px;
	height:16px;
	position:absolute;
	left:2px;
	top:50%;
	margin-top:-8px;
	display:none;
}

.finder-button-menu-item-selected .ui-icon { display:block; }
.finder-button-menu-item-selected-asc .ui-icon-arrowthick-1-n { display:none; }
.finder-button-menu-item-selected-desc .ui-icon-arrowthick-1-s { display:none; }

/* hack for upload button */
.finder-button form {
	position:absolute;
	top:0;
	right:0;
	opacity: 0; filter:Alpha(Opacity=0);
	cursor: pointer;
}

.finder .finder-button form input { background:transparent; cursor: default;}

/* search "button" */
.finder .finder-button-search {
	border:0 solid;
	background:transparent;
	padding:0;
	margin: 1px 4px;
	height: auto;
	min-height: 26px;
	float:right;
	width:202px;
}

/* ltr/rte enviroment */
.finder-ltr .finder-button-search { float:right; margin-right:10px; }
.finder-rtl .finder-button-search { float:left; margin-left:10px; }

/* search text field */
.finder-button-search input {
	width:160px;
	height:22px;
	padding:0 20px;
	line-height: 22px;
	border:0 solid;
	border:1px solid #aaa;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	outline:0px solid;
}

.finder-rtl .finder-button-search input { direction:rtl; }

/* icons */
.finder-button-search .ui-icon {
	position:absolute;
	height:18px;
	top: 50%;
	margin:-9px 4px 0 4px;
	opacity: .6;
	filter:Alpha(Opacity=60);
}

/* search/close icons */
.finder-ltr .finder-button-search .ui-icon-search { left:0;}
.finder-rtl .finder-button-search .ui-icon-search { right:0;}
.finder-ltr .finder-button-search .ui-icon-close { right:0;}
.finder-rtl .finder-button-search .ui-icon-close { left:0;}






